services:
  postgres:
    image: postgres:latest
    container_name: tilet-postgres
    # healthcheck:
    #   test:
    #     [
    #       "CMD",
    #       "pg_isready",
    #       "-q",
    #       "-d",
    #       "postgres",
    #       "-U",
    #       "root"
    #     ]
    #   timeout: 45s
    #   interval: 10s
    #   retries: 10
    restart: always
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - PGUSER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
    volumes:
      - ./data/postgresql:/var/lib/postgresql/data
    ports:
      - '5435:5432'

volumes:
  data:
    driver: local

networks:
  app-tier:
    driver: bridge
